<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="patient"
		class="com.springframework.springPractice04.Patient"
		init-method="onCreate" destroy-method="onDestroy"
		p:id = "654"
	 p:name = "Biglia"
		>
	</bean>
	<bean id="address"
		class="com.springframework.springPractice04.Address">
		<constructor-arg name="street" value="Panthapath"></constructor-arg>
		<constructor-arg name="postcode" value="1200"></constructor-arg>
	
	</bean>
</beans>